{% extends 'login_base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TeamUpNow!</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="split left"> 
      <box_header_stream>
        <title_header_stream>
          <strong><a href="{% url 'signup' %}">Frequent Tags </a></strong>
        </title_header_stream>
      </box_header_stream>
      <br> 
      <box_tages_stream>
        <div class="columns">
          {% for post_item in post_items %}
            {% for tag in post_item.tags.all %}
              <a href="{% url 'signup' %}">
                <title_headerPrimary_link>#{{ tag }}</title_headerPrimary_link>
              </a>
            {% endfor %}
          {% endfor %}
        </div>
      </box_tages_stream>

      <box_header_stream>
        <title_header_stream>
          <strong><a href="{% url 'signup' %}">Your Peers Contributions </a></strong>
        </title_header_stream>
      </box_header_stream>
      <br> 
      <br> 

      <center>
        <box_badges_stream>
          <div class="columns">
            {% for post_item in post_items %}
              <div style="padding-right: 26px;">
                <div class="box_stream_mentors">
                  <a href="{% url 'signup' %}">
                    {% if post_item.content.first.file.name|slice:"-2:" == 'png' or post_item.content.first.file.name|slice:"-2:" == 'jpg' %}
                      <figure>
                        <h1><strong>Languages (create new fields)</strong></h1>
                        <br>
                        <div class="columns">
                          {% for post_item in post_items %}
                            <div style="padding-right: 1px;">
                              <a href="{% url 'signup' %}">  
                                <small style="opacity: 50%;">{{ post_item.posted | naturaltime }}</small>
                              </a>
                            </div>
                          {% endfor %}
                        </div>
                      </figure>
                    {% else %}
                      {% if post_item.user.profile.picture %}
                        <p class="image is-128x128">
                          <img class="box_mentorsProfileIndex_picture" src="{{ post_item.user.profile.picture.url }}">
                        </p>
                      {% else %}
                        <p class="image is-128x128">
                          <img class="box_mentorsProfileIndex_picture" src="{% static 'img/TeamUpNow_logo_Whiteackground - Copy.png' %}" width="32" height="32">
                        </p>
                      {% endif %} 
                    {% endif %}
                    <div class="media-content">
                      {% if post_item.user.profile.first_name %}
                        <a href="{% url 'signup' %}">
                          <title_headerPrimaryName_link>{{ post_item.user.profile.first_name }} {{ post_item.user.profile.last_name }}</title_headerPrimaryName_link>
                        </a>
                      {% else %}
                        <a href="{% url 'signup' %}">
                          <title_headerPrimaryName_link>@{{ post_item.user.username }}</title_headerPrimaryName_link>
                        </a> 
                      {% endif %}  
                      <p><small style="opacity: 50%;">{{ post_item.posted | naturaltime }}</small></p>
                      <p><a href="{% url 'signup' %}">
                        <title_headerPrimaryCategory_link>{{ post_item.classCategory }}</title_headerPrimaryCategory_link>
                      </a></p> 
                      {% for tag in post_item.tags.all %}
                        <a href="{% url 'signup' %}">
                          <title_headerPrimary_postIndex_link>#{{ tag }}</title_headerPrimary_postIndex_link>
                        </a>
                      {% endfor %}
                    </div>
                  </a>
                </div>
              </div>
            {% empty %}
            {% endfor %}
          </div> 
        </box_badges_stream>
      </center>
    </div> 
  {% endblock %}

  </body>
</html>
